<!DOCTYPE html>
</head><body style="background-color: rgb(77, 184, 255)" data-gr-c-s-loaded="true">
  <div style="margin: 50px; padding: 20px; background-color:white; max-width:675px" width="675px">
    <a href="http://www.projectland.s3-website.eu-west-2.amazonaws.com/">
      <img src="https://thumb.ibb.co/dydOR9/projectland-logo.png" alt="projectland-logo" border="0" width="128" height="128" hspace="256">
    </a>
    <p style="text-align: justify; margin-top:30px; max-width:675px">
      You have been invited to join the Projectland community. To begin collaborating
      on a project visit <a href="http://www.projectland.s3-website.eu-west-2.amazonaws.com" target="_blank">our official website</a> and log into your newly created account.
    </p>

    <p>
      Your username and temporary password are <strong> <font size="6">{username}</font></strong> and <strong> <font size="6">{####}</font></strong>.
    </p>

   <p>
     If you have any trouble logging in your account or any questions in general, do not hesitate and send us an e-mail at <strong>support-projectland@gmail.com</strong>
   </p>
  </div>
</body>
</html>